html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    font-family: 'Poppins', 'Apple Color Emoji', 'Segoe UI Emoji', 'Noto Color Emoji', sans-serif;
}

*:not(.fa-solid):not(.fa):not(.e-icons) {
    font-family: 'Poppins', 'Apple Color Emoji', 'Segoe UI Emoji', 'Noto Color Emoji', sans-serif;
}
body {
    margin-bottom: 60px;
    background-color: #12161d;
    color: #fff;
}

.a-links {
    text-decoration: none;
    color: #fff !important;
}
.e-bigger {
    font-size: x-large;
}


/*Sidebar*/

.main-content {
    margin-left: 290px
}


/*Button*/

.btn:focus, .btn:active{
    outline: none !important;
    box-shadow: none;
}

/*Hyperlink*/

.no-a-decoration, .no-a-decoration:hover {
    text-decoration: none;
    color: #fff;
}


/* Widget */

.widget {
    -moz-border-radius: 1rem;
    -webkit-border-radius: 1rem;
    border-radius: 1rem;
    background-color: #1a222b;
}

.widget > div:first-of-type {
    border-radius: 1rem;
}

    .widget.income > div:first-of-type {
        background-color: #5db239;
    }

.widget.expense > div:first-of-type {
    background-color: #d03d3d;
}

.widget.balance > div:first-of-type {
    background-color: #387bc3;
}



#sidebar {
    background-color: #12161d;
    border-right: 1px dashed rgba(75, 82, 85, 0.24);
    padding: 10px 20px;
}

.e-separator {
    font-size: 1.5rem;
}